# Data 
data/complaints_processed.csv
data/complaints.csv
data/complaints.csv.zip
data/complaints_processed_full.csv
# data/*.txt
data/credit_card_text_processed.csv
data/credit_reporting_text_processed.csv
# data/debt_collection_text_processed.csv
# data/mortgages_and_loans_text_processed.csv
# data/retail_banking_text_processed.csv

# Generated regenerable split files (run preprocessing/data_splitting.ipynb to regenerate)
data/test_data.csv
data/train_data.csv
data/test_indices.csv
data/train_indices.csv


#outputs/
outputs/task3_bert_model/


#Python
__pycache__/
*.egg-info/


#Jupytergit status
.ipynb_checkpoints/

#virtual environment
.env 
.env.dist
venv/
env/

# Metadata
.ds_store
Thumbs.db
desktop.ini

# VScode
.vscode/

#Pycharm
.idea/

.claude/
